/* Bible verse search form (bible.html)*/

#search-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  #verse-display {
    margin-top: 2rem;
    font-size: 1.2rem;
  }
  
  .hidden-word {
    display: inline-block;
    position: relative;
  }
  
  .hidden-word span.full-word {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .hidden-word:hover span.full-word {
    opacity: 1;
    transform: translateX(10px); /* Adjust for spacing effect */
  }
  
  .hidden-word span.first-letter {
    opacity: 1;
  }