#output {
    white-space: pre-wrap; /* Ensure spaces and line breaks are preserved */
}

#output span {
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

#output span .hidden-part {
    visibility: hidden; /* Make it invisible instead of display: none */
    display: inline; /* Ensure the layout adjusts dynamically */
}

#output span:hover .hidden-part {
    visibility: visible; /* Show the rest of the word */
}

#output span:hover {
    color: blue; /* Change color of the entire word */
}

.select {
    font-family: 'Merienda', sans-serif;
    color: #474747;
}


h1{
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem; /* default for h2 appears to be 2rem */
}