/* Default styles for body of page */
body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
  
header {
    background-color: #0078d7;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
    max-width: 800 px;
    margin: 0 auto;
}

h1 {
    font-family: 'LXGW WenKai Mono TC', 'Times New Roman', Times, serif;
}

h2 {
    font-family: 'Merienda', Arial, Helvetica, sans-serif;
}

footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 0.2rem;
    margin-top: 2rem;
}

/* Navigation bar (at top of page) */
#navbar {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
  
#navbar a {
    color: white;
    text-decoration: none;
}
  
#navbar a:hover {
    text-decoration: underline;
}